html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    max-width: 1500px;
}

.navbar {
    position: fixed;
    z-index: 1;
    max-width: 1500px;
    text-transform: uppercase;
}

a:hover {
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 10%;
}

#carouselExampleControls {
    position: relative;
    height: 1000px;
    width: 100%;
}

#carouselExampleControls h1 {
    position: absolute;
    top: 40%;
    left: 20%;
    color: #fff;
    font-size: 6rem;
    font-weight: bold;
}

#carouselExampleControls button {
    position: absolute;
    top: 50%;
    left: 20%;
    padding: 15px 25px;
    text-align: center;
    border: 1px solid #ffffff;
    width: 150px;
    color: #ffffff;
    margin-top: 20px;
    transition: all ease-in 0.2s;
    background-color: transparent;
}

#carouselExampleControls button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.carousel-control-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50px;
}

.carousel-control-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 50px;
}

.main-link {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.main-nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 13px;
    font-weight: 700;
}

.main-logo {
    margin-top: 30px;
}

.main-hr {
    width: 100%;
    opacity: 0.2;
}

section {
    height: 500px;
}

.section-main {
    width: 70%;
    margin: 0 auto;
    margin-top: 250px;
}


.section-title {
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
}

.section-text {
    width: 400px;
    color: #ffffff;
}

.section-button {
    padding: 15px 25px;
    text-align: center;
    border: 1px solid #ffffff;
    width: 100px;
    color: #ffffff;
    margin-top: 20px;
    transition: all ease-in 0.2s;
}

.pre-section-button a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
}

a .section-button  {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
}

a .section-button:hover {
    background-color: #fff;
    color: #0f0f0f;
    text-decoration: none;
}

.art {
    height: 795px;
    width: 1500px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: auto;

}

.art-text {
    width: 270px;
    color: #aba7aa;
}

.art-title {
    color: #515769;
}

.art-main-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.art-main-2 {
     display: flex;
     justify-content: space-around;
     flex-direction: column-reverse;
     margin-left: 20px;
}

.art-main-3 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 20px;
}

.about {
    height: 600px;
    background-color: #fafafa;
}

.row {
    height: 510px;
    width: 1170px;
    margin: 0 auto;
    padding-top: 150px;
}

.container {
    width: 1170px;
    height: 510px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-content: center;
}

.column-left {
    height: 215px;
    width: 450px;
}

.column-left h1 {
    color: #515769;
}

.column-left p {
    color: #aba7aa;
}

.column-left a {
    text-align: center;
    border: 1px solid #515769;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 30px;
    background-color: #515769;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

.column-left a:hover {
    background-color: #17bed2;
    transition: ease-in all 0.2s;
    border: 1px solid #17bed2;
    text-decoration: none;
}

.column-right {
    height: 310px;
    width: 487px;
}

.column-right h1 {
     color: #515769;
     border: 3px solid #fff;
     padding: 30px 30px;
     background: #fff;
     font-size: 22px;
 }

.column-right h1:hover {
    color: #515769;
    border: 3px solid #17bed2;
    padding: 30px 35px;
    background: #17bed2;
    font-size: 22px;
}

.btn.btn-link {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}

.products {
    width: 1348px;
    height: 758px;
    margin: 0 auto;
    padding-top: 170px;
}

.products-up {
    width: 585px;
    height: 114px;
}

.products-main {
    margin-top: 30px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.products-main p {
    width: 400px;
}

.products-img-1 {
    width: 360px;
    height: 240px;
    background: url("../img/970x647/01.jpg") no-repeat center;
    background-size: cover;
}

.products-img-2 {
    background: url("../img/970x647/02.jpg") no-repeat center;
    background-size: cover;
    width: 360px;
    height: 240px;
}

.products-img-3 {
    background: url("../img/970x647/03.jpg") no-repeat center;
    background-size: cover;
    width: 360px;
    height: 240px;
}

.products-up h1 {
    color: #515769;
}

.products-up p {
    color: #aba7aa;

}

.products-main h3 a {
     color: #515769;
     text-decoration: none;
 }

.products-main h3 span {
    color: #bfc1c7;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 30px;
}

.products-main p {
    color: #aba7aa;
}

.readmore {
    text-decoration: none;
    text-transform: uppercase;
    color: #81848f;
    font-size: 13px;
    font-weight: 700;
}

.pricing {
    width: 100%;
    height: 880px;
    background-color: #fafafa;
}

.pricing-container {
    width: 1170px;
    height: 779px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 150px;
}

.pricing-column {
    width: 380px;
    height: 460px;
    background-color: #fff;
    padding-top: 100px;
    margin: 0 auto;
}

.pricing-column-2 {
    width: 380px;
    height: 530px;
    background-color: #fff;
    margin-top: -50px;
    padding-top: 145px;
}

.pricing-column p {
    width: 300px;
    font-size: 14px;
    color: #aba7aa;
    margin-left: 40px;
}

.pricing-column h3 {
    color: #515769;
    margin-left: 40px;
}

.pricing-column h3 span {
    color: #aba7aa;
    font-size: 14px;
}

.pricing-column-2 h3 span {
    color: #aba7aa;
    font-size: 14px;

}

.pricing-column-2 h3 {
    margin-left: 40px;
}

.pricing-column-2 p {
    width: 300px;
    font-size: 14px;
    color: #aba7aa;
    margin-left: 40px;
}

.pricing-column li {
    list-style-type: none;
    margin-bottom: 10px;
}

.pricing-column-2 li {
    list-style-type: none;
    margin-bottom: 10px;
}

.pricing-column a {
    margin-left: 40px;
    padding: 15px 30px;
    border: 1px solid #f3f4f5;
    margin-top: 50px;
    display: inline-block;
    background-color: #f3f4f5;
    text-decoration: none;
    color: #9095b6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}

.pricing-column-2 a {
    margin-left: 40px;
    padding: 15px 30px;
    border: 1px solid #f3f4f5;
    margin-top: 50px;
    display: inline-block;
    background-color: #f3f4f5;
    text-decoration: none;
    color: #9095b6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}

.pricing-column a:hover {
    background-color: #17bed2;
    color: #ffffff;
    transition: ease-in all 0.2s;
}

.pricing-column-2 a:hover {
    background-color: #17bed2;
    color: #ffffff;
    transition: ease-in all 0.2s;
}

.full-size {
    height: 100%;
    width: 100%;
}

.work {
    width: 1276px;
    height: 100%;
    margin: 0 auto;
    padding-top: 75px;
}

.work img {
    margin-left: 20px;
    margin-top: 20px;
}

.full-size hr {
    width: 100%;
    opacity: 0.2;
    margin-top: 80px;
}

.clients {
    display: flex;
    justify-content: space-around;
    height: 200px;
    padding-top: 100px;
}

.clients a {
    height: 77px;
}

.work h2 {
    color: #515769;
    margin-left: 20px;
}

.work p {
    color: #aba7aa;
    width: 550px;
    margin-left: 20px;
}

.services {
    width: 100%;
    height: 960px;
    background-color: #fafafa;
    margin: 0 auto;
    padding-top: 100px;
    margin-top: 100px;
}

.service {
    margin-left: 256px;
}

.service h2 {
    color: #515769;
    margin-left: 20px;
}

.service p {
    color: #aba7aa;
    width: 550px;
    margin-left: 20px;
}

.service-1 {
    padding-top: 50px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    height: 860px;
    margin: auto;
}

.block {
    height: 252px;
    width: 380px;
    background-color: #fff;
    margin-left: 3px;
    padding-left: 30px;
    padding-top: 50px;
}

.block h2  {
    color: #515769;
}

.block p {
    color: #aba7aa;
}

.block-1 h2 {
    color: #515769;
}

.block-1 p {
    color: #aba7aa;
}

#block {
    background-color: #17bed2;
}

#block h2, #block p{
    color: #ffffff;
}

.contact {
    width: 1348px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 100px;
}

.contacts {
    width: 390px;
    height: 179px;
}

.contacts h3 {
    color: #515769;
}

.contacts h3 span {
    font-size: 12px;
    color: #aba7aa;
    text-transform: uppercase;
    margin-left: 15px;
}

.contacts p {
    color: #aba7aa;
}

.contacts ul li {
    list-style-type: none;
    margin-top: 10px;
    color: #81848f;
}

footer {
    height: 300px;
    width: 100%;
}

.separator {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.separator ul li {
    list-style-type: none;
    margin-top: 20px;
}

.separator ul li a {
    text-decoration: none;
    color: #aba7aa;
}

footer hr {
    width: 100%;
    opacity: 0.2;
}

.other {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}

.other a {
    text-decoration: none;
    color: #81848f;
}

.other a span {
    text-decoration: none;
    color: #a6a7aa;
}

.other a:hover {
    color: #9ca4af;
}

.modal-body {
    margin: auto;
    display: block;
}

.motal-title {
    margin: 0 auto;
}

@media screen and (max-width: 1130px) {
#carouselExampleControls {
    position: relative;
    height: 600px;
    width: 100%;
}
#carouselExampleControls h1 {
    position: absolute;
    top: 18%;
    left: 20%;
    color: #fff;
    font-size: 2.1rem;
    font-weight: bold;
}
#carouselExampleControls button {
    position: absolute;
    top: 23%;
    left: 20%;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid #ffffff;
    width: 150px;
    color: #ffffff;
    margin-top: 20px;
    transition: all ease-in 0.2s;
    background-color: transparent;
}
.carousel-control-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: 10px;
}

.carousel-control-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    right: 10px;
}

   .art {
    height: 2200px;
    width: 750px;
    display: flex;
    justify-content: space-around;
    margin: auto;

    flex-direction:column;
}
.art-text {
    width: 270px;
    color: #aba7aa;
    margin: auto;
}

.art-title {
    color: #515769;
    margin: auto;
}

.art-main-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
}

.art-main-2 {
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     margin: auto;
}

.art-main-3 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
}
.about {
    height: 1000px;
    background-color: #fafafa;
}

.row {
    height: 510px;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 150px;
}

.container {
    max-width: 1170px;
    height: 510px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    align-content: center;
}

.column-left {
    height: 215px;
    width: 450px;
    margin: auto;
}
.column-right {
    height: 215px;
    width: 450px;
    margin: auto;
}
.products {
    width: 750px;
    height: 1850px;
    margin: 0 auto;
    padding-top: 170px;
    display: block;
}

.products-up {
    width: 300px;
    height: 114px;
    margin-top: -100px;
    margin: auto;
}

.products-main {
    margin-top: 30px;
    height: 1500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.main-1 {
    margin: auto;
}
.main-2 {
    margin: auto;
}
.main-3 {
    margin: auto;
}
.pricing {

    width: 400px;
    height: 1500px;
    background-color: #fafafa;
    margin: auto;
}
.pricing-container {
    width: 400px;
    height: 1500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 50px;
}

.pricing-column {
    width: 380px;
    height: 460px;
    background-color: #fff;
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.pricing-column-2 {
    width: 380px;
    height: 460px;
    background-color: #fff;
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.full-size {
    height: 100%;
    width: 750px;
    margin: auto;
}

.work {
    width: 320px;
    height: 1800px;
    padding-top: 75px;
}

.work img {
    margin-left: 20px;
    margin-top: 20px;
    width: 320px;
}

.work p {
    width: 300px;
}

#first-work-img {
    height: 400px;
}

.full-size hr {
    width: 100%;
    opacity: 0.2;
    margin-top: 80px;
}

.clients {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    width: 750px;
    margin: auto;
}
.services {
    width: 540px;
    height: 2200px;
    background-color: #fafafa;
    padding-top: 100px;
    margin-top: 100px;
}
.service {
    width: 256px;
    margin-left: 40px;
    text-align: center;
    box-sizing: border-box;
}

.service h2{
    width: 256px;
    margin-left: 70px;
    text-align: center;
    box-sizing: border-box;
}

.service p{
    width: 256px;
    margin-left: 80px;
    text-align: center;
    box-sizing: border-box;
}

.service-1 {
    padding-top: 50px;
    flex-direction: column;
    display: flex;
    width: 500px;
    height: 2000px;

}
.block {
    height: 252px;
    width: 380px;
    background-color: #fff;
    margin-left: 3px;
    padding-left: 30px;
    padding-top: 50px;
    margin-bottom: 20px;
    margin: auto;
}
.contact {
    width: 750px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-direction: column;
    padding-top: 100px;
}

.contacts {
    width: 390px;
    height: 179px;
    margin-bottom: 100px;
    margin: auto;
}
.separator {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 75px;
}
.other {
    width: 200px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
}
}
@media screen and ( max-width: 675px ) {
 #carouselExampleControls {
    position: relative;
    height: 600px;
    width: 100%;
}
#carouselExampleControls h1 {
    position: absolute;
    top: 18%;
    left: 20%;
    color: #fff;
    font-size: 2.1rem;
    font-weight: bold;
}
#carouselExampleControls button {
    position: absolute;
    top: 21%;
    left: 20%;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid #ffffff;
    width: 150px;
    color: #ffffff;
    margin-top: 20px;
    transition: all ease-in 0.2s;
    background-color: transparent;
}
.carousel-control-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: 10px;
}

.carousel-control-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    right: 10px;
}

   .art {
    height: 2200px;
    width: 500px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    margin-top: -200px;
}
.art-text {
    width: 270px;
    color: #aba7aa;
    margin: 0;
}

.art-title {
    color: #515769;
    margin: 0;
}

.art-main-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.art-main-2 {
     display: flex;
     justify-content: space-around;
     flex-direction: column;
}

.art-main-3 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.about {
    height: 1000px;
    background-color: #fafafa;
}

.row {
    height: 510px;
    max-width: 500px;
    padding-top: 150px;
}

.container {
    max-width: 500px;
    height: 510px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.column-left {
    height: 215px;
    width: 325px;
    margin: 0;
}
.column-right {
    height: 215px;
    width: 300px;
    margin: 0;
}
.products {
    width: 500px;
    height: 2200px;
}

.products-up {
    width: 300px;
    height: 114px;
    margin-top: -100px;
    margin-bottom: 70px;
   margin-left: 10px;
}

.products-main {
    margin-top: 30px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: -75px;
}
.main-1 {
    margin-top: -20px;
}
.main-2 {
    margin-top: -200px;
}
.main-3 {
    margin-top: -200px;
}

.main-1 p {
    width: 320px;
}

.main-2 p {
    width: 320px;
}

.main-3 p {
    width: 320px;
}

.pricing {
    width: 400px;
    height: 1500px;
    background-color: #fafafa;
    margin-top: -150px;
}
.pricing-container {
    width: 400px;
    height: 1500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 150px;
}

.pricing-column {
    width: 380px;
    height: 460px;
    background-color: #fff;
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.pricing-column-2 {
    width: 380px;
    height: 460px;
    background-color: #fff;
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.full-size {
    height: 100%;
    width: 300px;
    margin: 0;
}

.work {
    width: 320px;
    height: 1800px;
    padding-top: 75px;
    margin: 0;
}

.work img {
    margin-left: 20px;
    margin-top: 20px;
    width: 320px;
}

#first-work-img {
    height: 400px;
}

.full-size hr {
    width: 100%;
    opacity: 0.2;
    margin-top: 80px;
}

.clients {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: baseline;
    height: 1000px;
    margin-top: -200px;
    margin-bottom: -200px;
}
.services {
    width: 540px;
    height: 2200px;
    background-color: #fafafa;
    padding-top: 100px;
    margin-top: 100px;
}
.service {
    width: 256px;
    margin-left: -50px;
    box-sizing: border-box;
}

.service-1 {
    padding-top: 50px;
    flex-direction: column;
    display: flex;
    width: 500px;
    height: 2000px;
}
.block {
    height: 252px;
    width: 340px;
    background-color: #fff;
    margin-left: 3px;
    padding-left: 30px;
    padding-top: 50px;
    margin-bottom: 20px;
}
.contact {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-between;;
    margin-bottom: 500px;
    flex-direction: column;
    padding-top: 100px;
    align-items: baseline;
}

.contacts {
    width: 390px;
    height: 179px;
    margin-bottom: 100px;
    align-items: baseline;
}
.separator {
    display: flex;
    justify-content: space-around;
    width: 300px;
    flex-direction: column;
    margin-bottom: 75px;
}
.other {
    width: 200px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
}
}

